/* Sección de ranking */
.ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: #555;
}

.player-rank {
    width: 80px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.yellow { background-color: #f4c20d; height: 120px; }
.blue { background-color: #359fe5; height: 100px; }
.green { background-color: #4caf50; height: 80px; }

/* Botón del jugador */
.red-button {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

/* Lista de palabras */
.word-list-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.word-list {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.word-list p {
    font-size: 18px;
    margin: 5px 0;
    font-weight: bold;
}