
.container-button{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    display: block;
    width: 80%;
    margin: 15px 0px 15px 0px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
#play1 { background: #fbc02d; }
#play2 { background: #4caf50; }
#play3{ background: #e53935; }
#play4 { background: #359fe5; }

input::placeholder{
    color: white;
    font-size: 18px;
}
